<div>
    <h1 id="Titulo1">
        ¿Cómo vas a disminuir tu huella de carbono HOY?
    </h1>
    <div id="cuerpo">
        <a id="celular">
            <img src="../assets/Imagenes/Fondos/Celular.png" alt="celular" width="350px" height="350px">
        </a>
        <h2 id="texcel">Comprar celulares</h2>
        <a id="computador">
            <img src="../assets/Imagenes/Fondos/Computador.png" alt="computador" width="450px" height="328px">
        </a>
        <h2 id="texcompu">Comprar computadores</h2>
        <h6 id="descel">Los mejores celulares del mercado a un precio inmejorable, 
            todos nuestros productos son "refurbished" aumentado su vida 
            útil y reduciendo el impacto ambienta
        </h6>
        <h6 id="descom">Los mejores computadores del mercado a un precio inmejorable, 
            todos nuestros productos son "refurbished" aumentado su vida 
            útil y reduciendo el impacto ambienta
        </h6>
        <button id="btcel" >Ver ofertas de Celulares</button>
        <button id="btcomp">Ver ofertas de Computadores</button>

        <H1>Nosotros</H1>
        <br>
        <a name="nosotros"></a>
        <br>
        <br>
        <br>
        <h5>Somos una compañía que adquirió el compromiso con el medio ambiente y con sus clientes para ofrecer la 
            sostenibilidad de aparatos electrónicos de uso masivo de la manera más eficiente, económica y que genere 
            el menor desecho posible, por lo cual nuestra plataforma ofrece producto re manufacturados, esto no quiere 
            decir que sean de mala calidad, sino que aprovechamos aquellas partes de equipos en desuso para ofrecer un 
            nuevo equipo totalmente funcional y con garantía, nuestro equipo de trabajo ha sido capacitado para ofrecer 
            la mejor experiencia a usuarios que aún pueden tener dudas, entendemos que la novedad puede traer miedos, sin 
            embargo estamos aquí para demostrar que un futuro tecnológico sostenible es posible. </h5>
        <br>
        <h5 style="margin-left: 18%;">Ismael Mieles--</h5>
        <h5 style="margin-left: 18%; font-weight: bold;">Vicepresidente Junior</h5>
        <h5 style="margin-left: 18%; font-weight: bold;">CompumundoHiperMegaRed</h5>
        <a id="equipo" href="#">
            <img src="../assets/Imagenes/Fondos/Empleados.jpg" alt="Equipo" width="430px" height="242px">
        </a>
    </div>

</div>
